{% extends '::base.html.twig' %}

{% block title %}About creativesrus.com{% endblock %}

{% block stylesheets %}
	<link href="{{ asset("bundles/recruiterpages/css/main.css") }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="container main">
	<div class="row">
		<div class="span12">
			<h1 class="image-about">About creativesrus.com</h1>
		</div><!-- span12 -->
	</div><!-- row -->
	<div class="row">
		<div class="span12 text">
			<p>
				Since first launching in mid 2010, our client roster and freelance database 
				has rapidly expanded, instigating new working relationships every day, from 
				London to Aberdeen.
			</p>
			<p>
				The concept behind the site was simple; create a platform where employers can 
				liaise with freelancers directly, eliminating agency and advertising costs.
			</p>
			<p>
				This stripped-back approach is the key to our success and a satisfied roster 
				of clients.
			</p>
		</div><!-- span12 -->
	</div><!-- row -->
	<div class="row" style="text-align: center">
		<div class="span12">
			<p>Creativesrus.com is a trading name of Digitally Sourced Ltd. Company registration no: 8399046</p>
		</div>
	</div>
</div><!-- container main -->

{% endblock %}