{% extends '::base.html.twig' %}

{% block title %}Terms &amp; Conditions{% endblock %}
{% block body %}

<div class="container main">
	<div class="row">
		<div class="span12">
			<h1>Terms &amp; Conditions</h1>
			
			<p><strong>Overview</strong></p>

<p>For your peace of mind, our principal aim in accumulating personal data is to provide you the
user with a safe and resourceful experience. We will only collect personal information about
you that we consider necessary for this purpose.</p>

<p>Creativesrus.com is totally committed to protecting the privacy of its users, dedicated to
providing a secure user experience. Creativesrus.com will ensure that the information you
submit to us remains private, and is used only for the purposes as set forth herein.</p>

<p>The following reflects our commitment to you.</p>

<p><strong>Information about visitors to creativesrus.com</strong></p>

<p>Generally our users' information is collated collectively, such as in click reports and bounce
rates. We only use aggregated, unspecific data so no personal information specific to a
particular user or IP address will be included. The above examples of reports determining
user activity is crucial to creativesrus.com creating an effective user experience. If we share
this information it will only be in the aggregate, never individually.</p>

<p><strong>Information about you specifically</strong></p>

<p>We will never pass on your personal information to any 3rd party without your explicit
consent. You are under no obligation to agree to have any of your details shared. In some
instances, such as when you sign up to use a service, enter into a contest, or purchase a
product, we may need more specific information about you, such as name, address, e-
mail address, telephone number, bank account details etc. Creativesrus.com may use that
information to make you aware of additional products and services which may be of interest
to you, or to contact you regarding site changes. You will always be given the opportunity
to opt out of such activity. Any additional information we collect is for improvements to the
usability of the site at large and you will be informed at every stage why we are collecting or
sharing data.</p>

<p><strong>General information disclosure</strong></p>

Creativesrus do not disclose information about your individual visits to creativesrus.com, or
any personal information that you provide, to any outside parties, except when we believe the
law requires it. We may collate and share generic aggregated information with our partners.
If you input your information on a co-branded registration page creativesrus.com is not
responsible for the information that the partner company receives, you should check their
privacy policy to ensure your data is safe.</p>

<p><strong>CVs</strong></p>

<p>By registering your details with Creativesrus.com you are required to put your CV online.
This means that any employer registered with our site will have access to your CV. You can
determine how much of your personal contact information is available for viewing. A valid
email address is the minimum contact information you must display. Our database of users
and freelancers is only accessible to designated administrators and registered employers using
the service. Creativesrus cannot be held responsible if another third party evades security</p>

<p>measures and gains access to the database, and, subsequently, your CV and/or contact details.
You may remove your CV from our searchable database at any time. However, recruiters
who have paid for access to the database may have retained a copy of your CV in their own
files or databases. We are not responsible for the retention, use, or privacy of CV in these
instances.</p>

<p><strong>Your password</strong></p>

<p>You are responsible for all actions taken with your username and password. We do not
recommend that you disclose your creativesrus.com password to any third parties. We
will never do this. Should your account become compromised for any reason, you should
immediately change your password as a security measure.</p>

<p><strong>Accessing, reviewing and changing your personal Information.</strong></p>

<p>All personal information submitted to creativesrus.com can always be reviewed and edited
by simply logging-in to the site using your username and password. We will not modify your
personal information on your request because it is very difficult for us to authenticate your
account manually. You must promptly update your personal information if it changes or is
inaccurate.</p>

<p><strong>Cookies</strong></p>

<p>We use data collection devices such as "cookies" on certain pages of the Site. "Cookies" are small files placed
on your hard drive that assist us in providing customised services. We also offer certain features that are only
available through the use of a cookie. We also use cookies to allow you to enter your password less frequently
while you are using the Site. Cookies can also help us provide information which we tailor to your interests. Most
cookies are "session cookies", meaning that they are automatically deleted from your hard drive at the end of a
session using the Site. You are always free to decline our cookies if your browser permits, although in that case
you may not be able to use certain features on the Site and you may be required to re-enter your password more
frequently while you are using the Site.</p>

<p><strong>Security</strong></p>

<p>Creativesrus.com uses industry standard practices to safeguard the confidentiality of your
personal identifiable information, including encryption, and where applicable Secure Socket
Layers. We treat data as an asset that must be protected against loss and unauthorised access.
We employ many different security techniques to protect such data from unauthorised
access by users inside and outside the company. However, "perfect security" does not exist
in any business or on the Internet. The internet is an open system and as such we cannot
guarantee that unauthorised third parties will never be able to defeat those measures or use
your personal information for improper purposes. While every precaution has been by us to
ensure the security of your information, certain data that you provide may become publicly
available - this is not our intention - and if highlighted to us we will do our utmost to ensure
that the situation is rectified as quickly and efficiently as possible. Any situation arising from
such a scenario - which would only occur due to misuse of the site or a genuine error on our
part, will incur an aggregate liability for the Company to you for all claims arising from this
situation is limited to &pound;0.01.</p>

<p><strong>Privacy commitment changes</strong></p>

<p>If we decide to change our privacy commitment for creativesrus.com, you will be sent an email outlining any
changes. We will also update the changes here so that you will always know what information we gather, how</p>

<p>we might use that information, and whether we will disclose it to anyone. If, at any time, you have questions or
concerns about creativesrus.com's privacy commitment, please feel free to email us at:</p>
		</div><!-- span12 -->
	</div><!-- row -->
</div><!-- container main -->

{% endblock %}