{% extends "::base.html.twig" %}

{% block body %}
	<div class="container main">
		<div class="row">
			<div class="span12">
				<h1>Already Requested</h1>
				{% block fos_user_content %}
				<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
				{% endblock fos_user_content %}
			</div>
		</div>
	</div>
{% endblock %}