<p>3D is defined as an object which has three dimensions, for example depth, width and length. </p>

<p>As a 3D expert you will be versed in all things creative and technical in regards to three-dimensional objects. You'll have the creative eye to develop true to life images and the technical knowledge to implement them. </p>

<p>You might call yourself a 3D visualiser, a 3D animator, a 3D artist or a 3D modeller.</p>

<p>A basic skill set including: Maya, Max, Zbrush, Modo, Mental Ray, Brazil, V-Ray, Shake, Final Cut Pro, After Effects and Premier are a must for anyone professing to be a 3D expert, naturally additional skills are also a bonus.
</p>
