<p>Account Management is concerned with the provisions and use of accounting information to managers within organizations, to provide them with the basis to make informed business decisions that will allow them to be better equipped in their management and control functions.</p>

<p>In a creative environment, an account manager is integral to the initiation, smooth running and delivery of a project. The account manager holds the position of responsibility between the client and internal teams. </p>

<p>As an account manager you will possess exceptional organisational skills, you will have a sound and complete knowledge of a digital environment, understanding requirements and knowing the capabilities of the creative and technical teams. You will be able to manage the clients, foreseeing opportunities to further services offered to the clients, handling changes and delays accordingly and above all keeping both client and internal teams happy.</p>
