<p>The term art director is a blanket title for a variety of similar job functions in advertising, publishing, film and television, the Internet, and video games.</p>

<p>In more specific terms, an Art Director, directs the creative team. </p>

<p>As an Art Director you will usually have a traditional artistic background. You will have the main responsibility for the creative team and the work produced by the team. You will be responsible for the outline of the creative projects, making the choice of theme, style, medium, font and layout for the brief. </p>

