<p>An artworker is someone who produces a print-ready product.</p>

<p>Artworking is often seen by many as being void of creativity and a mundane role shunned by true designers. Yet, an artworker is an integral part to a creative team. Without artworkers, you can cut the designer's creative time in half and be sure that the briefs which are released will to need to be amended. Good Artworkers, have a keen attention to detail and a refined eye which picks up on points which creative's often skip in favour for more 'important' design elements. </p>

<p>As a skilled artworker you will possess a rounded a skill set like any other designer, including proficiency in Photoshop, Dreamweaver, Flash and Illustrator. </p>
