<p>A content management system (CMS) such as a document management system (DMS) is a computer application used to manage work flow needed to collaboratively create, edit, review, index, search, publish and archive various kinds of digital media and electronic text.</p>

<p>A CMS Expert is someone who will be able to create an efficient CMS system from start to finish. You'll be an expert on Tridion, Immedicay and Reddot. You'll be able to consult clients on CMS as well as handle the implementation. </p>

<p>As a skilled CMS expert you will possess the relevant server-side languages, database skills and integration ability for 3rd party systems. </p>

