<p>Copywriting is the use of words to promote a person, business, opinion or idea.</p>

<p>As a copywriter you will be apart of the creative team and are responsible for the content and textual design and layout of a piece of work, be that a flyer, a website, a brochure etc.  Copywriting can also fall into the SEO (search engine optimisation) field and writing content for website optimisation. </p>