<p>An artworker is defined as someone who produces a print-ready product; a creative artworker is someone who is more creatively involved in the artworking. </p>

<p>A creative artworker can have a varying definition depending on who you ask, they could be involved with design ideas and have a more hands on involvement with the creative side of the work as well as carrying out the artworking itself. </p>

<p>Some will say that a creative artworker has more of a designer's eye when adjusting work with varying: colour shades, text formats and layouts, although this can cross over in to art direction. </p>

<p>As a creative artworker you will possess the skills to work with: Quark, InDesign, Photoshop, Illustrator, Acrobat, Final Cut, Artpro and Freehand; any additional skills are a boon. </p>

