<p>Adobe Flash is a multimedia platform. Flash has become a popular method for adding animation and interactivity to web pages.</p>

<p>As a Flash designer you'll do all the fancy designs with interactive websites that make them look so pretty. </p>

