<p>ActionScript is used primarily for the development of websites and software using the Adobe Flash Player platform.</p>

<p>As a Flash ActionScript developer you'll be one of a rare breed, highly sort after and hunted by many. </p>

<p>You will be a whiz with: Flash ActionScript, Flash, HTML, XHTML, CSS and JavaScript amongst others. </p>

