<p>A graphic designer is a professional within the graphic design and graphic arts industry who assembles together images, typography or motion graphics to create a piece of design.</p>

<p>As a graphic designer, depending upon your step upon the ladder, you will be involved in the brain storming of ideas from the client brief; you'll be responsible for the development of the ideas into a design and then see this through to a print ready piece of work. </p>

<p>You might be working on graphics for a poster, a brochure, a leaflet, a company's brand, signage, websites, CD-ROMs etc. Your skills and talent can be turned to any task. </p>

<p>A basic common skill set for a graphic designer should include: Quark, InDesign, Photoshop, Dreamweaver, Illustrator, Flash as well as any other relevant languages which would be of benefit. </p>
