<p>Motion Design is the art of graphic design within the context of motion graphics such as film, video or computer animation.</p>

<p>As with any designer, your strongest skill will be your eye for what looks good. As a designer, your ability to fuse a message with colour, layout and format is essential. </p>

<p>As a motion graphics designer/animator you'll be able to interpret these skills into a three dimensional forum, incorporating space, movement and perspective. </p>

<p>A motion graphics professional will have skills with: After effects, Final Cut Pro and Flash. </p>
