<p>Packaging is the science, art and technology of enclosing or protecting products for distribution, storage, sale, and use. Packaging also refers to the process of design, evaluation, and production of packages.</p>

<p>As a packaging designer you will have specific experience and interest in designing for packaging. Designing for packaging will mean you will have specific interest in three dimensional designs which have to take into account branding standards, information required and dimensions for particular types of packaging. </p>

<p>A packaging designer will have the same core skills as a graphic designer including: Quark, InDesign, Photoshop, Dreamweaver, Illustrator and Flash.</p>
