<p>A print designer is what most would think of when considering a traditional graphic design role. A print designer will be involved in the creative ideas and concepts behind the design for company's brand logos, letterheads and business cards, leaflets, brochures, magazines, flyers etc. </p>

<p>A print designer will perhaps be involved with type font, colour, format and style. </p>

<p>A print designer's core skill set will include: Quark, InDesign, Photoshop, Illustrator and Dreamweaver, of course additional skills are also a bonus. </p>

