<p>QuarkXPress ("Quark") is a computer application for creating and editing complex page layouts in a WYSIWYG environment. It runs on Mac OS X and Windows. </p>

<p>As a QuarkXpress expert you will come under the remit of a print professional. Your main focus within this role will be the layout of graphics for flyers, posters, magazines, brochures, leaflets and the like. The layout is integral to the look and order of any piece of printed work and is therefore a vital link in the creative cycle. </p>

<p>Your core skill is QuarkXpress; however you may also be familiar with: InDesign, Photoshop, Dreamweaver, Illustrator and Flash along with any other graphic packages relevant to producing your work.</p>
