<p>A Studio managers' role is to ensure the smooth operation of an interactive media studio, managing the team, overseeing their work and liaising with other departments. Studio setup and staff recruitment are often part of the position. </p>
