<p>Web design is the skill of designing presentations of content (usually hypertext or hypermedia) that is delivered to an end-user through the World Wide Web, by way of a Web browser or other Web-enabled software like Internet television clients, micro blogging clients and RSS readers. </p>

<p>Web design can incorporate the actual designing of a web page and the design of the graphics for a web page. These can often overlap or remain separate roles. </p>

<p>A web designer in their purest form will design websites, this will include the accessibility and usability of the website ensuring it is W3C compliant as well as the aesthetic design of the web site which will require graphic design skills. A web designer will possess essential skills with HTML, CSS, JavaScript, Dreamweaver, Photoshop and Flash as the basics. </p>

<p>A web designer could be classed as a graphic design purely for the web. In this case, coding skills such as HTML and CSS will not be included in their remit. A focus will therefore be on design ideas and the visual appearance of the website. As a graphic designer for the web you will have more empathy with a site's compatibility within a web environment and the site's front-end interaction with its backend functionality. </p>
